/* styles.css */
.app-container {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    
    /* Add more custom styles as needed */
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    width: 50%;
    height: 70%;
}
.hhhh{
    display: "flex";
    flex-direction: column;
    gap: 50px;
    width: 50%;

}
   
      
